<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
            <service
            android:name=".FirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            </service>
        <activity android:name=".WarnigActivity"
            android:parentActivityName=".ReportActivity"  />
        <activity android:name=".PCZone.PC"
            android:parentActivityName=".List"        />

        <activity android:name=".MyInfoActivity" />
        <activity
            android:name=".SeminarRoom.seminarDay"
            android:parentActivityName=".SeminarRoom.seminarDay" />
        <activity
            android:name=".QuietZone.Activity_Test"
            android:parentActivityName=".List" />

        <activity
            android:name=".ReportActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeminarRoom.SeminarRoomSel"
            android:parentActivityName=".List" />
        <activity
            android:name=".List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JoinLogin.LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JoinLogin.JoinActivity"
            android:parentActivityName=".JoinLogin.LoginActivity" />
        <activity
            android:name=".MainActivity"
          />
        <activity
            android:name=".SplashActivity"
            android:label="유예시">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>